<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>


<body>


<form class="example" action="https://jsonplaceholder.typicode.com/photos">
    <input type="text" placeholder="Search.." name="search">
    <div id='button-holder'>
        <img src="http://images-assets.nasa.gov/image/PIA00342/PIA00342~orig.jpg" />
    </div>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<!--footer>
    <p>Copyright {{year}}</p>
</footer-->
</body>

</html>