<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>


<body>


<form class="example" action="https://images-api.nasa.gov/search?q=earth">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<!--footer>
    <p>Copyright {{year}}</p>
</footer-->
</body>

</html>